.App {
  text-align: center;
}
.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}
.App-intro {
  margin-top: 25px;
}
.input{
  margin-left: 5px;
}
.user-style {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  height: 150px;
  border: 0.1px solid;
}
.img-style {
  height: 100px;
}
.height {
  margin-top: 25px;
}